<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/stlye.css" />

    <%- include('non-repeating-templates/navbar.ejs'),{activeClass: activeClass,route:route} %>
    
    <main>
      <h1>Some Products...</h1>

      <% ListOfNumber.forEach(ele => { %>
      <ul>
        <li><%= ele.title %></li>
        <span><a href="/product/<%= ele.id %>">details</a></span>
      </ul>
      <% }) %>
    </main>
  </body>
</html>
